
*.v2
SystemMute/obj/*
SystemMute/bin/*
.vs/*
SystemMute/bin/*
SystemMute/bin/Debug/*
.vs/SystemMute/v17/.suo
SystemMute/bin/Debug/net6.0-windows/Microsoft.Toolkit.Uwp.Notifications.dll
SystemMute/bin/Debug/net6.0-windows/SystemMute.deps.json
SystemMute/bin/Debug/net6.0-windows/SystemMute.dll
SystemMute/bin/Debug/net6.0-windows/SystemMute.exe
SystemMute/bin/Debug/net6.0-windows/SystemMute.pdb
SystemMute/obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
SystemMute/obj/Debug/net6.0-windows/App.g.cs
SystemMute/obj/Debug/net6.0-windows/App.g.i.cs
SystemMute/obj/Debug/net6.0-windows/apphost.exe
SystemMute/obj/Debug/net6.0-windows/MainWindow.g.cs
SystemMute/obj/Debug/net6.0-windows/MainWindow.g.i.cs
SystemMute/obj/Debug/net6.0-windows/ref/SystemMute.dll
SystemMute/obj/Debug/net6.0-windows/refint/SystemMute.dll
SystemMute/obj/Debug/net6.0-windows/SystemMute.assets.cache
SystemMute/obj/Debug/net6.0-windows/SystemMute.csproj.AssemblyReference.cache
SystemMute/obj/Debug/net6.0-windows/SystemMute.csproj.CoreCompileInputs.cache
SystemMute/obj/Debug/net6.0-windows/SystemMute.dll
SystemMute/obj/Debug/net6.0-windows/SystemMute.GeneratedMSBuildEditorConfig.editorconfig
SystemMute/obj/Debug/net6.0-windows/SystemMute.pdb
SystemMute/obj/Debug/net6.0-windows/SystemMute_MarkupCompile.cache
SystemMute/obj/Debug/net6.0-windows/SystemMute_MarkupCompile.i.cache
SystemMute/obj/project.assets.json
SystemMute/obj/project.nuget.cache
SystemMute/obj/SystemMute.csproj.nuget.dgspec.json
SystemMute/obj/SystemMute.csproj.nuget.g.props
.vs/SystemMute/DesignTimeBuild/.dtbcache.v2
